<%- include("../partials/header") %>

<div class="ui main text container segment">
  <div class="ui huge header"><%= blog.title %></div>
  <div class="ui top attached ">
    <div class="item">
      <img class="ui centered rounded image" src="<%= blog.image%>" />
    </div>
    <div class="content">
      <strong><%= blog.created.toDateString()%></strong>
    </div>
    <div class="description">
      <p><%= blog.body%></p>
    </div>
  </div>
  <% if(currentUser && blog.author.id.equals(currentUser._id)){%>
  <a class="ui orange basic button" href="/blogs/<%=blog._id%>/edit">EDIT</a>
  <form
    action="/blogs/<%=blog._id%>?_method=DELETE"
    method="POST"
    style="display: inline;"
  >
    <button class="ui red basic button" type="submit">DELETE</button>
  </form>
  <%}%>
  <div class="ui container segments">
    <div class="ui segment">
      <h5 class="text-right">
        <a
          class="ui yellow basic button "
          href="/blogs/<%= blog._id%>/comments/new"
          >Add comment
        </a>
      </h5>
      <div>
        <% blog.comments.forEach((comment)=>{%>
        <strong><%= comment.author %></strong>
        <span style="float: right; font-size: 12px;">10 days ago</span>
        <p><%= comment.text %></p>
        <%}) %>
      </div>
    </div>
  </div>
</div>

<%- include("../partials/footer") %>
